<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    <br />
    <h4>Navigation</h4>
    <ul>
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include JB/pages_list %}
    </ul>

    <br />
    <a href="http://www.twitter.com/BurnsMod">
      <img border=0 width=100 src="/assets/img/twitter.png" alt="Follow @BurnsMod on Twitter" />
    </a>
    <a href="http://www.facebook.com/BurnsMod">  
      <img border=0 width=100 src="/assets/img/facebook.png" alt="Become a fan of Burns Modular" />
    </a>
    <a href="http://www.burnsmod.com/blog/atom.xml">
      <img border=0 width=100 src="/assets/img/rss.png" alt="Subscribe to Burns Modular blog RSS" />
    </a>

       {% unless page.tags == empty %}
       <br />
       <h4>Tags</h4>
       <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
       </ul>
       {% endunless %}
       
    </div>
    <div class="span10">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}

    </div>
  </div>
</div>

